/* BASIC RESET */
* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}

/* GENERAL STYLES */
body {
	font-size: 18px;
	background-color: var(--green-light);
	color: var(--gray-dark);
	padding: 2rem;
	font-family: "Lato", sans-serif;
}

p {
	line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #5f5f5f;
		color: #e5e5e5;
	}
}