/* BASIC RESET */
* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	background-color: #AEB7B3;
	color: #333;
	padding: 2rem;
	font-family: "Lato", sans-serif;
}

p {
	line-height: 1.4;
}

img {
	max-width: 100%;
	height: auto;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 1rem 2rem 0.5rem;
	background-color: #fc0;
	font-family: "Bebas Neue", sans-serif;
}
header h1 {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1;
	display: flex;
	align-items: baseline;
}
header h1 .first {
	font-size: 6rem;
}
header h1 .last {
	font-size: 3rem;
	margin-left: auto;
}

/* MAIN - CARD */
main {
	margin-top: 130px;
	margin-bottom: 50px;
}
article.card {
	background-color: #E1EFE6;
	border-radius: 10px;
	padding: 2rem;
}
article.card:not(:last-child) {
	margin-bottom: 2rem;
}
article.card h2 {
	font-size: 2rem;
}
article.card button {
	background-color: #3A206F;
	color: #E1EFE6;
	border: none;
	font-size: 1.3rem;
	margin: 2rem 0;
	border-radius: 5px;
	padding: 7px 15px;
	cursor: pointer;
}
article.card .answer {
	display: none;
	font-size: 1rem;
	margin-bottom: 1.5rem;
	color: #666;
}
article.card ol {
	list-style: '#';
	list-style-position: inside;
	display: flex;
	padding: 1.5rem 0.5rem 0 0;
	font-size: 0.9rem;
	border-top: 1px solid #AEB7B3;
	flex-wrap: wrap;
}
article.card ol li {
	margin: 0 0.5rem 0.5rem 0;
	background-color: #EFCB68;
	border-radius: 5px;
	padding: 5px 10px;
	/* color: #; */
}

/* NAV */
nav {

}