/* BASIC RESET */
* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	background-color: #AEB7B3;
	padding: 2rem;
	font-family: "Lato", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

/* HEADER */
header {

}

/* MAIN - CARD */
main {

}
article.card {

}
/* NAV */
nav {

}