:root {
    --primary-color: #fc0;
    --primary-color-shade: #EFCB68;
    --purple-dark: #3A206F;
    --purple-darker: #221045;
    --purple-light: #927ac3;
    --green-light: #AEB7B3;
    --green-lighter: #E1EFE6;
    --gray-dark: #333;
    --gray-medium: #666;
    --gray-light: #999;
    --gray-lighter: #ccc;
    
    --border-radius-tiny: 2.5px;
    --border-radius-small: 5px;
}