article.card button {
	background-color: #3A206F;
	color: #E1EFE6;
	border: none;
	font-size: 1.2rem;
	margin: 2rem 0;
	border-radius: 5px;
	padding: 7px 15px;
	cursor: pointer;
	border: 3px solid #927ac3;
}