main {
	max-width: 1200px;
	margin: 130px auto 70px;
}
article.card {
	background-color: var(--green-lighter);
	border-radius: 10px;
	padding: 2rem;
	position: relative;
}
article.card:not(:last-child) {
	margin-bottom: 2rem;
}
article.card .bookmark {
	position: absolute;
	top: -6px;
	right: 20px;
	width: 20px;
	height: 30px;
    background: var(--green-lighter) url("../../images/icon-bookmark.svg") no-repeat;
	border-radius: var(--border-radius-tiny);
	cursor: pointer;
}
article.card .bookmark.inactive {
    background: var(--gray-dark) url("../../images/icon-bookmark-inactive.svg") no-repeat;
}
article.card h2 {
	font-size: 2rem;
}
article.card .answer {
	font-size: 1rem;
	margin-bottom: 1.5rem;
	color: var(--grey-medium);
}
article.card .answer.hidden {
	display: none;
}

article.card ol {
	list-style: '#';
	list-style-position: inside;
	display: flex;
	padding: 1.5rem 0.5rem 0 0;
	font-size: 0.9rem;
	border-top: 1px solid var(--green-light);
	flex-wrap: wrap;
}
article.card ol li {
	margin: 0 0.5rem 0.5rem 0;
	background-color: var(--primary-color-shade);
	border-radius: var(--border-radius-small);
	padding: 5px 10px;
	/* color: #; */
}
@media screen and (min-width: 900px) {
	main {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}
	article.card {
		width: 350px;
	}
}
@media (prefers-color-scheme: dark) {
	article.card {
		background-color: var(--gray-dark);
		color: var(--green-lighter);
	}
	article.card .bookmark {
		background-color: var(--gray-dark);
	}
	article.card ol li {
		background-color: #7c6935;
	}
	article.card ol {
		border-top: 1px solid var(--gray-medium);
	}
}