header.main {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 1rem 2rem 0.5rem;
	background-color: var(--primary-color);
	font-family: "Bebas Neue", sans-serif;
	filter: drop-shadow(0px 0px 10px var(--gray-medium));
	color: #5f1a1a;
}
header.main h1 {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1;
	display: flex;
	align-items: baseline;
}
header.main h1 .first {
	font-size: 6rem;
}
header.main h1 .last {
	font-size: 3rem;
	margin-left: auto;
}
@media (prefers-color-scheme: dark) {
	header.main {
		filter: drop-shadow(0px 0px 10px var(--gray-dark));
	}
}